@page "/{BookId:guid}/book-details"
@using LibraryManager.Site.Models
@using LibraryManager.Site.Services.Interfaces
@inject IBookService BookService

<h3>BookDetails</h3>

@if (Loading)
{
    <p>Loading...</p>
}
else
{
    @if (Book.Id != Guid.Empty)
    {
        <img src="@Book.ImageUrl" alt="@Book.Title" style="object-fit: cover;"/>
        <h4>@Book.Title</h4>
        <p><strong>Author:</strong> @Book.Author</p>
        <p><strong>Publication Year:</strong> @Book.PublicationYear</p>
        <p><strong>ISBN:</strong> @Book.ISBN</p>
    }
    else
    {
        <p>No book found.</p>
    }

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <p>@ErrorMessage</p>
    }
}

@code {
    [Parameter] public Guid BookId { get; set; }

    private BookViewModel Book { get; set; }
    public string? ErrorMessage;
    public bool Loading = true;

    protected override async Task OnInitializedAsync()
    {
        var result = await BookService.GetBookById(BookId);
        if (result.IsSuccess)
        {
            Book = result.Data!;
        }
        else
        {
            ErrorMessage = result.ErrorMessage;
        }
        Loading = false;
        StateHasChanged();
    }
}
